{% load static %}
        <footer class="templateux-footer bg-light" style="padding:.9rem 1rem;">
            <div class="container">
                <div class="row mb-0">
                    <div class="col-md-4 pr-md-5">
                        <div class="block-footer-widget">
                            <h3>About</h3>
                            <p>
                         
                                Savvy HR Solutions, an offshoot of SPNS Consulting with about two decades of professional practice, is a STRATEGIC human resources management firm with strength in the enhancement of human resources management activities for businesses.

                         
                            </p>
                        </div>
                    </div>
                    <div class="col-md-8">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="block-footer-widget">
                                <h3>Learn More</h3>
                                <ul class="list-unstyled">
                                  <li><a href="{% url 'researchInsight' %}">Research and Insight</a></li>
                                  <li><a href="{% url 'our-solutions' %}">Solutions</a></li>
                                  <li><a href="{% url 'contact-us' %}">Contact</a></li>
                                  <!-- <li><a href="#">Sitemap</a></li> -->
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-3">
                        <div class="block-footer-widget">
                        <h3>Connect With Us</h3>
                        <ul class="list-unstyled block-social">
                            <li><a href="#" class="p-1"><i class="fab fa-twitter" style="color:#000066;"></i></a></li>
                            <li><a href="#" class="p-1"><i class="fab fa-youtube" style="color:#000066;"></i></a></li>
                            <li><a href="#" class="p-1"><i class="fab fa-whatsapp" style="color:#000066;"></i></a></li>
                        </ul>
                        </div>
                        </div>
                    </div> 
                    </div>
                </div> 
            </div>
          </footer> 